@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
$primary-color: #378fb4;
$bg-chat-color: #98D0E9;
$active-chat: #82bdd8;

body{
    margin: 0;
    padding: 0;    
}


.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.chat-client-main-container{
    width: 100%;
    height: 100vh;
    background-color: #777;
    font-family: 'Baloo Tammudu 2', cursive;
}


/* chat-client == cc */
.chat-client{
    position: fixed;
    width: 350px;
    height: 420px;
    background-color: #eee;
    bottom: 0;
    margin-left: 50%;
    transition: 200ms;

    
    .header{
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        padding: 8px 12px 0 12px;
        color: white;
    
    }
    /**/
    .toggle-when-click{
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 50px;
        margin-top: -8px;
        margin-left: -12px;
        cursor: pointer;
    }
    /**/
    
    .header-admin-user{
        display: flex;
        align-items: center;
        z-index: 5;
        img{
            width: 30px;
            height: 30px;
            border: 1px solid #fff;
            border-radius: 50%;
            margin-top: -8px;
        }
        .name{
            font-weight: 600;
            font-size: 20px;
            margin-left: 9px;
        }
    }
    
    .i-live-admin{
        display: block;
        width: 10px;
        height: 10px;
        background-color: #48ad48;
        border-radius: 50%;
        margin-top: -6px;
        margin-left: 10px;
    }
    
    .more-and-close{
        margin-left: auto;
        padding-right: 5px;
        display: flex;
        align-items: center;
        margin-top: -6px;
        z-index: 5;
        
        //close icon
        .close{
            font-size: 30px;
            margin-top: 10px;
            color: #eee;
            cursor: pointer;
            text-align: center;
            width: 20px;
            &:hover{
                color: #fff;
                font-weight: 600;
            }
        
        }
        
        //more icons
        .dots-icons{
            width: 45px;
            text-align: center;
            cursor: pointer;
        }
        
        .one-dot-icon{
            display: inline-block;
            width: 5px;
            height: 5px;
            margin: 0 2px;
            background-color: #ebebeb;
        }
        
        
        .dots-icons:hover > .one-dot-icon{
            width: 6px;
            height: 6px;
            color: #fff;
            background-color: white;
        
        }
    }
    
    
    //input-group
    
    .input-group{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45px;
        display: flex;
        textarea{
            box-sizing: border-box;
            width: 100%;
            height: 45px;
            padding: 10px;
            padding-right: 35px;
            resize: none;
            border: 0;
            border-top: 1px solid #ccc;
            font-size: 15px;
            background-color: #fcfcfc;
            order: 1;
            &:focus{
                outline: 0;
            }   
        }
        .button-flex{
            position: absolute;
            right: 0;
            height: 45px;
            display: flex;
            align-items: center;
            padding-right: 12px;
            button{
                border: 0;
                background-color: transparent;
                color: $primary-color;
                cursor: pointer;
                i{
                    transform: rotate(15deg);
                    font-size: 17px;
                }
    
            }
        }
    }
}

//Check
.check-active{
    color: $active-chat;
}

//Close case
.chat-client-close-case{
    width: 70px;
    height: 70px;
    background-color: $primary-color;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;

    img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        z-index: 1;
    }

    .notification{
        position: absolute;
        display: none;
        div{
            box-sizing: border-box;
            margin: 5px;
            background-color: crimson;
            z-index: 5;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            padding-top: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                color: white;
                padding: 10px;
                font-weight: 600;
            }
        }
    }
}

.messages-group{
    box-sizing: border-box;
    width: 100%;
    padding: 1px 6px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 105px;
    div{
        display: flex;
        align-items: center;
        margin: 3px 0;

        div{
            width: 20px;
            display: flex;
            justify-content: center;
            color: #aaa;
            font-size: 12px;
        }

        p{
            max-width: 70%;
            margin: 0;
            padding: 13px 25px 8px 20px;

            border-radius: 30px;
            text-align: left;
            margin-block-start: 0;
            margin-block-end: 0;
            background-color: #cfcfcf;
            line-height: 25px;
        }
    }
    .me{
        direction: rtl;
        p{
            background-color: $bg-chat-color;
        }
    }
}


@media(max-width: 1000px){
    .chat-client{
        margin-left: 30%;
    }
    .chat-client-close-case-container{
        margin-right: 30%;
    }
}

@media(max-width: 600px){
    .chat-client{
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.chat-client-close-case-container{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 15px;
    right: 0;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    .zoom-animate{
        animation: zoomAnimate 50ms;
    }

}

@keyframes zoomAnimate {
    0% { zoom: 0.5; }
    20% { zoom: 0.6; }
    40% { zoom: 0.7; }
    60% { zoom: 0.8; }
    80% { zoom: 0.9; }
    100% { zoom: 1; }
}